{{#if songs}}

  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th class="four wide">Song</th>
        <th class="four wide">Artist</th>
        <th class="two wide"> </th>
        <th class="two wide"> </th>
      </tr>
    </thead>
  <tbody>
      {{#each songs}}
        <form 
          class = "ui stacked segment form" 
          action="/playlist/{{../id}}/updatesong/{{id}}" 
          method="POST"
        >
          <tr class="fields">
            <td class="field">
              <span class="ui input">
               <input type="text" name="title" autofocus required 
                      title = "Please include a valid Title" placeholder="Title" 
					  value = "{{title}}">
              </span>
            </td>
            <td class="field">
              <span class="ui input">
                <input type="text" name="artist" required 
                       title = "Please include a valid Artist" placeholder="Artist" 
					   value = "{{artist}}">
              </span>
            </td>
            <td class="center aligned">
              <button type = "submit" class = "editSubmit">
                <i class="ui pencil icon "></i>
              </button>
            </td>
            <td class="center aligned">
              <a href="/playlist/{{../id}}/deletesong/{{id}}">
                <i class="ui black trash icon"></i>
              </a>
            </td>
          </tr>
        </form> 
      {{/each}}
    </tbody>
  </table>

{{else}}
  <h3 class="ui message">
    Empty playlist!
  </h3>

{{/if}}